web/WEB-INF/wsdl/catastor_8080/WebEmpresaApp/EmpleadoWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.webempresa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.webempresa.com/" name="EmpleadoWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.webempresa.com/" schemaLocation="http://catastor:8080/WebEmpresaApp/EmpleadoWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://model.example5.test/" schemaLocation="http://catastor:8080/WebEmpresaApp/EmpleadoWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="updateEmployee">
<part name="parameters" element="tns:updateEmployee"/>
</message>
<message name="updateEmployeeResponse">
<part name="parameters" element="tns:updateEmployeeResponse"/>
</message>
<message name="raiseSalaries">
<part name="parameters" element="tns:raiseSalaries"/>
</message>
<message name="raiseSalariesResponse">
<part name="parameters" element="tns:raiseSalariesResponse"/>
</message>
<message name="deleteEmployee">
<part name="parameters" element="tns:deleteEmployee"/>
</message>
<message name="deleteEmployeeResponse">
<part name="parameters" element="tns:deleteEmployeeResponse"/>
</message>
<message name="findEmployee">
<part name="parameters" element="tns:findEmployee"/>
</message>
<message name="findEmployeeResponse">
<part name="parameters" element="tns:findEmployeeResponse"/>
</message>
<message name="employeeExitWork">
<part name="parameters" element="tns:employeeExitWork"/>
</message>
<message name="employeeExitWorkResponse">
<part name="parameters" element="tns:employeeExitWorkResponse"/>
</message>
<message name="employeeDoWork">
<part name="parameters" element="tns:employeeDoWork"/>
</message>
<message name="employeeDoWorkResponse">
<part name="parameters" element="tns:employeeDoWorkResponse"/>
</message>
<message name="employeeTraining">
<part name="parameters" element="tns:employeeTraining"/>
</message>
<message name="employeeTrainingResponse">
<part name="parameters" element="tns:employeeTrainingResponse"/>
</message>
<message name="employeeDevelopmentMeeting">
<part name="parameters" element="tns:employeeDevelopmentMeeting"/>
</message>
<message name="employeeDevelopmentMeetingResponse">
<part name="parameters" element="tns:employeeDevelopmentMeetingResponse"/>
</message>
<message name="employeeAssignTasks">
<part name="parameters" element="tns:employeeAssignTasks"/>
</message>
<message name="employeeAssignTasksResponse">
<part name="parameters" element="tns:employeeAssignTasksResponse"/>
</message>
<message name="employeeEnterWork">
<part name="parameters" element="tns:employeeEnterWork"/>
</message>
<message name="employeeEnterWorkResponse">
<part name="parameters" element="tns:employeeEnterWorkResponse"/>
</message>
<message name="listEmployees">
<part name="parameters" element="tns:listEmployees"/>
</message>
<message name="listEmployeesResponse">
<part name="parameters" element="tns:listEmployeesResponse"/>
</message>
<message name="createEmployee">
<part name="parameters" element="tns:createEmployee"/>
</message>
<message name="createEmployeeResponse">
<part name="parameters" element="tns:createEmployeeResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="employeeAnswerPhone">
<part name="parameters" element="tns:employeeAnswerPhone"/>
</message>
<message name="employeeAnswerPhoneResponse">
<part name="parameters" element="tns:employeeAnswerPhoneResponse"/>
</message>
<message name="generateEmployeeByType">
<part name="parameters" element="tns:generateEmployeeByType"/>
</message>
<message name="generateEmployeeByTypeResponse">
<part name="parameters" element="tns:generateEmployeeByTypeResponse"/>
</message>
<message name="deleteAllEmployees">
<part name="parameters" element="tns:deleteAllEmployees"/>
</message>
<message name="deleteAllEmployeesResponse">
<part name="parameters" element="tns:deleteAllEmployeesResponse"/>
</message>
<portType name="EmpleadoWebService">
<operation name="updateEmployee">
<input wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/updateEmployeeRequest" message="tns:updateEmployee"/>
<output wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/updateEmployeeResponse" message="tns:updateEmployeeResponse"/>
</operation>
<operation name="raiseSalaries">
<input wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/raiseSalariesRequest" message="tns:raiseSalaries"/>
<output wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/raiseSalariesResponse" message="tns:raiseSalariesResponse"/>
</operation>
<operation name="deleteEmployee">
<input wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/deleteEmployeeRequest" message="tns:deleteEmployee"/>
<output wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/deleteEmployeeResponse" message="tns:deleteEmployeeResponse"/>
</operation>
<operation name="findEmployee">
<input wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/findEmployeeRequest" message="tns:findEmployee"/>
<output wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/findEmployeeResponse" message="tns:findEmployeeResponse"/>
</operation>
<operation name="employeeExitWork">
<input wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/employeeExitWorkRequest" message="tns:employeeExitWork"/>
<output wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/employeeExitWorkResponse" message="tns:employeeExitWorkResponse"/>
</operation>
<operation name="employeeDoWork">
<input wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/employeeDoWorkRequest" message="tns:employeeDoWork"/>
<output wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/employeeDoWorkResponse" message="tns:employeeDoWorkResponse"/>
</operation>
<operation name="employeeTraining">
<input wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/employeeTrainingRequest" message="tns:employeeTraining"/>
<output wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/employeeTrainingResponse" message="tns:employeeTrainingResponse"/>
</operation>
<operation name="employeeDevelopmentMeeting">
<input wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/employeeDevelopmentMeetingRequest" message="tns:employeeDevelopmentMeeting"/>
<output wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/employeeDevelopmentMeetingResponse" message="tns:employeeDevelopmentMeetingResponse"/>
</operation>
<operation name="employeeAssignTasks">
<input wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/employeeAssignTasksRequest" message="tns:employeeAssignTasks"/>
<output wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/employeeAssignTasksResponse" message="tns:employeeAssignTasksResponse"/>
</operation>
<operation name="employeeEnterWork">
<input wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/employeeEnterWorkRequest" message="tns:employeeEnterWork"/>
<output wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/employeeEnterWorkResponse" message="tns:employeeEnterWorkResponse"/>
</operation>
<operation name="listEmployees">
<input wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/listEmployeesRequest" message="tns:listEmployees"/>
<output wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/listEmployeesResponse" message="tns:listEmployeesResponse"/>
</operation>
<operation name="createEmployee">
<input wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/createEmployeeRequest" message="tns:createEmployee"/>
<output wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/createEmployeeResponse" message="tns:createEmployeeResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/createEmployee/Fault/ParseException"/>
</operation>
<operation name="employeeAnswerPhone">
<input wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/employeeAnswerPhoneRequest" message="tns:employeeAnswerPhone"/>
<output wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/employeeAnswerPhoneResponse" message="tns:employeeAnswerPhoneResponse"/>
</operation>
<operation name="generateEmployeeByType">
<input wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/generateEmployeeByTypeRequest" message="tns:generateEmployeeByType"/>
<output wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/generateEmployeeByTypeResponse" message="tns:generateEmployeeByTypeResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/generateEmployeeByType/Fault/ParseException"/>
</operation>
<operation name="deleteAllEmployees">
<input wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/deleteAllEmployeesRequest" message="tns:deleteAllEmployees"/>
<output wsam:Action="http://webservices.webempresa.com/EmpleadoWebService/deleteAllEmployeesResponse" message="tns:deleteAllEmployeesResponse"/>
</operation>
</portType>
<binding name="EmpleadoWebServicePortBinding" type="tns:EmpleadoWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="raiseSalaries">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="employeeExitWork">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="employeeDoWork">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="employeeTraining">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="employeeDevelopmentMeeting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="employeeAssignTasks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="employeeEnterWork">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listEmployees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="employeeAnswerPhone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generateEmployeeByType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="deleteAllEmployees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmpleadoWebService">
<port name="EmpleadoWebServicePort" binding="tns:EmpleadoWebServicePortBinding">
<soap:address location="http://catastor:8080/WebEmpresaApp/EmpleadoWebService"/>
</port>
</service>
</definitions>