web/WEB-INF/wsdl/catastor_8080/WebEmpresaApp/EmpleadoWebService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:ns1="http://webservices.webempresa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://model.example5.test/">

<xs:import namespace="http://webservices.webempresa.com/" schemaLocation="http://catastor:8080/WebEmpresaApp/EmpleadoWebService?xsd=1"/>

<xs:element name="Desarrollador" type="ns1:desarrollador"/>

<xs:element name="Empleado" type="ns1:empleado"/>

<xs:element name="Gerente" type="ns1:gerente"/>

<xs:element name="Recepcionista" type="ns1:recepcionista"/>
</xs:schema>