web/WEB-INF/wsdl/catastor_8080/WebEmpresaApp/EmpresaWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.webempresa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.webempresa.com/" name="EmpresaWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.webempresa.com/" schemaLocation="http://catastor:8080/WebEmpresaApp/EmpresaWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="findCompany">
<part name="parameters" element="tns:findCompany"/>
</message>
<message name="findCompanyResponse">
<part name="parameters" element="tns:findCompanyResponse"/>
</message>
<message name="createCompany">
<part name="parameters" element="tns:createCompany"/>
</message>
<message name="createCompanyResponse">
<part name="parameters" element="tns:createCompanyResponse"/>
</message>
<message name="listCompanies">
<part name="parameters" element="tns:listCompanies"/>
</message>
<message name="listCompaniesResponse">
<part name="parameters" element="tns:listCompaniesResponse"/>
</message>
<message name="updateCompany">
<part name="parameters" element="tns:updateCompany"/>
</message>
<message name="updateCompanyResponse">
<part name="parameters" element="tns:updateCompanyResponse"/>
</message>
<message name="deleteCompany">
<part name="parameters" element="tns:deleteCompany"/>
</message>
<message name="deleteCompanyResponse">
<part name="parameters" element="tns:deleteCompanyResponse"/>
</message>
<portType name="EmpresaWebService">
<operation name="findCompany">
<input wsam:Action="http://webservices.webempresa.com/EmpresaWebService/findCompanyRequest" message="tns:findCompany"/>
<output wsam:Action="http://webservices.webempresa.com/EmpresaWebService/findCompanyResponse" message="tns:findCompanyResponse"/>
</operation>
<operation name="createCompany">
<input wsam:Action="http://webservices.webempresa.com/EmpresaWebService/createCompanyRequest" message="tns:createCompany"/>
<output wsam:Action="http://webservices.webempresa.com/EmpresaWebService/createCompanyResponse" message="tns:createCompanyResponse"/>
</operation>
<operation name="listCompanies">
<input wsam:Action="http://webservices.webempresa.com/EmpresaWebService/listCompaniesRequest" message="tns:listCompanies"/>
<output wsam:Action="http://webservices.webempresa.com/EmpresaWebService/listCompaniesResponse" message="tns:listCompaniesResponse"/>
</operation>
<operation name="updateCompany">
<input wsam:Action="http://webservices.webempresa.com/EmpresaWebService/updateCompanyRequest" message="tns:updateCompany"/>
<output wsam:Action="http://webservices.webempresa.com/EmpresaWebService/updateCompanyResponse" message="tns:updateCompanyResponse"/>
</operation>
<operation name="deleteCompany">
<input wsam:Action="http://webservices.webempresa.com/EmpresaWebService/deleteCompanyRequest" message="tns:deleteCompany"/>
<output wsam:Action="http://webservices.webempresa.com/EmpresaWebService/deleteCompanyResponse" message="tns:deleteCompanyResponse"/>
</operation>
</portType>
<binding name="EmpresaWebServicePortBinding" type="tns:EmpresaWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findCompany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCompany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listCompanies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCompany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCompany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmpresaWebService">
<port name="EmpresaWebServicePort" binding="tns:EmpresaWebServicePortBinding">
<soap:address location="http://catastor:8080/WebEmpresaApp/EmpresaWebService"/>
</port>
</service>
</definitions>